.incoming-tourner-bg {
    background: linear-gradient(180deg, rgba(11, 11, 40, 0) 0%, #0b0b28 100%);
    backdrop-filter: blur(22.5px);
}

.avatar-mask {
    background: linear-gradient(180deg, rgba(15, 24, 58, 0) 0%, #0f183a 100%);
}

.gray-scroll::-webkit-scrollbar {
    width: 2px;
    height: 0px;
}

.gray-scroll::-webkit-scrollbar-thumb {
    background: var(--color-orange);
}

.gray-scroll::-webkit-scrollbar-track {
    background: #fff;
}

.no-scroll::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}
